<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	 <uses-permission android:name="android.permission.NFC" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/main_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.ACTION_LOGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".homeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.ACTION_TEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignActivity"
           >
            <intent-filter>
                <action android:name="com.example.login.ACTION_SIGN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignCheckActivity"
           >
            <intent-filter>
                <action android:name="com.example.login.ACTION_SIGNCHECK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login_firstActivity"
           >
            <intent-filter>
                <action android:name="com.example.login.ACTION_FIRSTLOGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.login.PersonActivity"
           >
            <intent-filter>
                <action android:name="com.example.login.ACTION_PERSON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.internettest.selectExpressActivity">
            <intent-filter>
                <action android:name="android.intent.action.SELECT_EXPRESS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.internettest.expressActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.EXPRESS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.internettest.showExpressActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SHOWEXPRESS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.login.expressStatusActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.EXPRESS_STATUS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zbar.lib.CaptureActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SAOMIAO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ericssonlabs.BarCodeTestActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.BARCODETEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wujay.fund.GestureMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.GESTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wujay.fund.GestureEditActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
        
        <activity
            android:name="com.wujay.fund.GestureVerifyActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.example.android.beam.Beam"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.NFC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/com.example.android.beam" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lianxiActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.LIANXI" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".yunfeiActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.YUNFEI" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".zhengceActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ZHENGCE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jianjieActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.JIANJIE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fujinActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.FUJIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".xiaogeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.XIAOGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.mrwujay.cascade.activity.cityActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name=".jijianActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.JIJIAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".login_firstActivity2"></activity>
        <activity 
            android:name=".infoChangeActivity"></activity>
        <activity 
            android:name=".passChangeActivity"></activity>
        <activity 
            android:name="com.gmm.request.myxiaogeActivity"></activity>
        <activity 
            android:name="com.gmm.request.selectxiaogeActivity"></activity>
        <activity 
            android:name="com.gmm.request.orderstatusActivity"></activity>
        <activity 
            android:name="com.ericssonlabs.erweimaActivity"></activity>
        <activity android:name=".checkPhoneActivity"></activity>
        <activity android:name=".checkQuestionActivity"></activity>
         <activity android:name=".setPassActivity"></activity>
    </application>

</manifest>
